body{
    background-color: black;
}

.header{
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    width: 390px;
    display:flex;
    justify-content: space-between;
}

h2{
    padding-top: 5px;
    padding-left: 20px;
    color:white;
    font-size:medium;
}


.filtre {
    margin-top: 6px;
    width: 25px;
    height: 20px;
}

.profil{
    width: 35px;
    height: 35px;
}

.left{

    display:flex;
    justify-content: space-between;
    width: 100px;
    
}

.form-outline{
    width: 330px;
    margin-left: 10vw;
    margin-top: 2.5vh;
}

.form1{
    display: flex;
    justify-content: center;
}

